/logs/
/saves/
/mods/
/crash-reports/

.curseclient
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
/resourcepacks/
.gitignore
/local
/journeymap
rhino.local.properties
/fancymenu_data
/modernfix
/patchouli_books
CurseforgeDescOld.txt
patchouli_data.json
/shaderpacks
servers.dat_old
servers.dat
/skyblockbuilder
/screenshots
/.vscode
/otyacraftengine
/iammusicplayer
/config
/defaultconfigs
/downloads
/ldlib
emi.json
/schematics
/kubejs/documentation
.mixin.out
knownkeys.txt
/mod_data
.gitignore
